/* ... */


/* ============ GLOBAL ============ */


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.show {
    display: block!important;
}

.padding_1 {
    padding: 0px 10px 20px;
}


/* ============ HEADER ============ */ 


header {
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1px;
}

#header {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 85%;
}
#header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    min-width: 200px;
    flex-wrap: 1;
}
#header h1 a {
    text-decoration: none;
    color: #333;
}

.side-box {
    width: 400px;
}

.search {
    display: flex;
    justify-content: end;
    align-items: center;
}

.search i {
    width: 33.2px;
    height: 33.2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container {
    display: flex;
}

.search_container input {
    height: 28px;
    width: 200px;
}

.cartBtn {
    width: 33.2px;
    height: 33.2px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */

nav {
    width: 85%;
}

.nav_container {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #fff;
    padding: 0px 200px;
    height: 45px;
    margin: 0;
}
.nav_container .nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin: 0px 20px;
    width: 120px!important;
    height: 100%;
}
.nav_container .nav_item p{
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #f4f4f4;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_container .nav_item:hover p {
    color: #d82834;
    border-bottom: 5px solid #d82834;
}

/* Drop Down Box */
.dropdown {
    width: 100%;
    height: 250px;
    z-index: 1001;
    margin-top: 145px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    background-color: #f4f4f4;
    position: absolute;
    float: left;
    display: none;
}

.nav_info {
    width: 100%;
    height: 100%;
}

.brandLayout {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-box-img {
    width: 135px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-box-img img {
    width: 135px;
    height: 100%;
    transition: .3s;
    object-fit: cover;
}
.brand-box-img img:hover {
    scale: 1.08;
}

.content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container a {
    text-decoration: none;
    color: #9f1d25;
    font-weight: bold;
    transition: .3s;
}
.content-container a:hover {
    color: #ff6b6b;
}


/* ======== MAIN CONTAINER ======== */

.main_container {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main_view {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.inner_container {
    flex: 1;
    height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}


/* ======== CHECKOUT SECTION ======== */


.mainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container {
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 25%;
    padding: 20px;
    width: 650px!important;
    height: auto;
}
.container h2 {
    text-align: center;
}

/* === Cart Product === */

.innerCartBox {
    margin-top: 40px;
    margin-bottom: 25px;
}

.cartItem {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
    height: 175px;
}

.imgCartContainer {
    width: 132px;
    height: 132px;
    /* background-color: #333; */
}
.imgCartContainer img{
    width: 100%;
    object-fit: cover;
}

.infoCartContainer {
    flex: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.infoCartContainer h3{
    margin-top: 0;
}

.quantityContainer {

}

.quantity {
    display: flex;
    justify-content: start;
    width: auto;
    height: 35px;
    margin-bottom: 20px;
}

.item-quantity {
    display: flex;
    width: auto;
    height: 100%;
    margin-right: 20px;
}
.item-quantity button{
    min-width: 35px;
    height: 100%;
}
.item-quantity p{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 100%;
    margin: 0;
}

.item-price {
    display: flex;
    align-items: center;
}

.deleteCartItem {
    max-width: 60px;
}

/* === Cart Total Price === */

.innerCartTotalPrice {
    /* background-color: rgb(199, 232, 233); */
}

.preTotalPrice, .totalPrice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    height: 36px;
}

.totalPrice {
    padding-bottom: 6px;
}

/* === FORM === */

.checkoutForm h3 {
    margin-bottom: 20px;
}

.formGroup {
    
}

.formGroup .group {
    margin-bottom: 20px;
}

.formGroup .group label {
    font-weight: bold;
}

.group select {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    border: 1px solid #939393;
}

.formGroup .group input{
    width: 96.5%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #939393;
}

.pay-method {
    margin-top: 20px;
    padding: 20px;
    background: #dadada;
}

.pay-method input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pay-method label {
    font-weight: bold;
}

.pay-method p {
    margin-left: 25px;
}

.alertBox {
    text-align: center;
    color: #cf2631;
}


.checkoutForm button {
    width: 100%;
    height: 40px;
    transition: .3s;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #9f1d25;
}
.checkoutForm button:hover {
    background-color: #ff7e87;
}

.checkoutForm button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.checkoutForm button:hover a{
    color: #9f1d25;
}


/* ======== CONFIRM CHECKOUT ======== */
#confirm-title {
    height: 50vh;
}

#box-img {

}

#back-to-home {
    text-decoration: none;
    font-weight: bold;
    color: #9f1d25;
    font-size: 25px;
}
#back-to-home:hover {
    color: #ff7e87;
}


/* === SPACE === */
.space {
    width: 100%;
    height: 55px;
}


/* Social Media */

.social_media_container {
    margin-top: 40px;
    padding: 0px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.inner_social_media {
    min-width: 1000px;
}

.social_media {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px 20px;
    overflow: hidden;
}
.social_media img {
    width: 100%;
    transition: .5s;
}
.social_media img:hover {
    background-color: #cf2631;
}

/* === SPACE === */
.space {
    width: 100%;
    height: 55px;
}


/* ===== SIDEBAR ===== */

.right {
    right: 0;
}

.sidebar {
    min-width: 250px;
    max-width: 25%;
    height: 100%;
    border-left: 2px solid #9f1d25;
    overflow-y: auto;
    transition: ease-in 1s;
}
.sidebar .cartContainer {
    margin: 16px;
}

.cartTitle {
    margin-left: 20px;
}

.cartBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cartItem .imgCartContainer{
    width: 100%;
}
.cartItem p{
    text-align: center;
}

.imgCartContainer img{
    width: 100%;
}

.quantityBox {
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.quantityBox .quantity {
    display: flex;
}
.quantityBox .quantity p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 30px;
}
.quantityBox .quantity button{
    width: 25px;
}
.quantityBox .deleteCartBtn {
    width: 25px;
}

#total {
    text-align: center;
    color: #9f1d25;
    font-weight: bold;
}

.checkoutBtn {
    width: 100%;
    padding: 10px 0;
    transition: .3s;
    cursor: pointer;
    border: none;
    background-color: #cf2631;
}
.checkoutBtn:hover {
    background-color: #ffb5b5;
}
.checkoutBtn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: .3s;
}
.checkoutBtn:hover a{
    color: #9f1d25;
}


/* ============ FOOTER ============ */


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9f1d25;
    overflow: hidden;
    width: 100%;
}

.footer_wrapper {
    width: 80%;
    padding: 30px 60PX;
    color: #ffffff;
    display: flex;
}
.column-item {
    width: 25%;
}
.column-item h3{
    margin: 20px 0;
}
.column-item a {
    text-decoration: none;
    color: #f4f4f4;
    height: 30px;
}
.column-item a:hover {
    color: darkorange;
}
.column-item div {
    display: flex;
    flex-direction: column;
}

.footer_para {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    bottom: 0;
}
